<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <ion-title>{{trader.first_name + " " + trader.last_name}}</ion-title>
  </ion-navbar>
</ion-header>
  <h5 name="menu" menuToggle class="menu-toggle-forced">TRADE DETAILS</h5>
<ion-content cpadding>

	<div class="thread">
		<div class="chat-message" [ngClass]="{'trader-message': message.senderKey !== profile.user.key}" *ngFor="let message of thread">
			<h5>{{message.text}}</h5>
		</div>
	</div>

	<div class="message-input message-input">
			<ion-input [(ngModel)]="message" placeholder="Type a message..." (keyup.enter)="send()">
			</ion-input>
			<button (click)="send()">Send</button>
	</div>
</ion-content>


<ion-nav #chatMenu [root]="rootPage">
</ion-nav>

<ion-menu class="chat-menu" side="right" [content]="chatMenu">
  <ion-content>
  	<ion-header>
  		<h5>Preferred Trading Locations</h5>
      <button ion-button class="location-btn" (click)="navToMap()">
        <ion-icon name="compass"></ion-icon>
      </button>
  	</ion-header>
  	<ion-list class="location-list">
  		<ion-item *ngFor="let tradeLocation of trader.trade_locations">
  			{{tradeLocation}}
  		</ion-item>
  	</ion-list>

    <h5 class="divider" *ngIf="trader.matchingTrades">{{trader.first_name + " " + trader.last_name}} matches</h5>
    <div class="trade-grid">
      <div class="trade-item" *ngFor="let item of trader.matchingTrades">
        <img-loader *ngIf="item.cover_url" class="fit-img" src="{{item.cover_url}}"></img-loader>
        <img *ngIf="!item.cover_url" class="fit-img" >
        <img class="select-icon" *ngIf="item.isSelected" src="assets/imgs/selector_green.png">
      </div>
    </div>

    <h5 class="divider" *ngIf="trader.matchingWishes">{{profile.user.first_name + " " + profile.user.last_name}} matches</h5>
 		<div class="trade-grid" >
	 		<div class="trade-item" *ngFor="let item of trader.matchingWishes" (click)="selectGame(item)">
	 			<img-loader *ngIf="item.cover_url" class="fit-img" src="{{item.cover_url}}"></img-loader>
        <img *ngIf="!item.cover_url" class="fit-img" >
        <img class="select-icon" *ngIf="item.isSelected" src="assets/imgs/selector_orange.png">
	 		</div>
 		</div>
    <div class="action-row" style="display: none;">
      <h5 class="methodText">{{courier.name}} <span *ngIf="courier.price">&#8369;</span>{{courier.price}}</h5>
      <!-- <h5 class="action-option meetup" (click)="selectMeetup()">MEETUP</h5> -->
      <button ion-button class="action-option courier" (click)="selectCourier()"> SELECT COURIER</button>
      <!-- <h5 class="action-option courier" (click)="selectCourier()">SELECT COURIER</h5> -->
    </div>
  </ion-content>
</ion-menu>