page-chat {
	.message-input{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 20px;
	}

	.message-input *{
		padding: 0;
	}

	.message-input ion-item.item.item-md{
		width: 90%;
		color: #fff;
	}

	.message-input .input.input-md{
		border: 1px solid color($colors, app_main_bg, base);
	}
	.message-input .text-input-md{
		color: color($colors, app_main_bg, base);
    margin: 8px 8px;
	}

	.message-input button{
		padding: 11px 20px;
		border: 0.5px solid #fff;
		/*background: rgba(48,73,158, 0.8);*/
		background: color($colors, app_main_bg, base);
		color: #fff;
    margin-left: 5px;
    border-radius: 6px;
	}

	.thread{
		height: 86%;
		overflow: auto;
		overflow-x: hidden;
	}

	.chat-message{
    display: flex;
	}

	.chat-message h5{
		background: color($colors, app_alt_bg, base);
		color: #fff;
		border-radius: 10px;
		padding: 12px 10px;
		max-width: 40%;
		margin: 10px;
		font-size: 1.3rem;
    font-weight: 100;
	}
	.trader-message{
    align-items: end;
    justify-content: flex-end;
	}
	.trade-info-btn{
		font-size: 1.5rem;
	}

	ion-title{
		display: inline-block;
	}

	.menu-toggle-forced{
		color: #fff;
    position: absolute;
    z-index: 10;
    right: 0;
    font-size: 2.5rem;
    top: 7px;
    right: 15px;
	}

	.chat-menu ion-header h5{
		display: inline-block;
		vertical-align: middle;
	}

	.chat-menu .menu-inner {
		background: initial;
	}
	.chat-menu .content-md{
		background: color($colors, app_main_bg, base);
    /*background: #06122a;*/
	}

	.chat-menu ion-item{
		background: initial;
		color: #fff;
		font-size: 1.4rem;
	}

	.chat-menu ion-header{
		text-align: center;
		padding: 10px 0;
		font-size: 1.4rem;
		color: #fff;
	}

	.trade-item img-loader{
		background-size: initial !important;
	}
	.trade-grid{
		padding: 5px;
	}
	.trade-item{
		width: 90px;
		height: 90px;
		display: inline-block;
		margin-right: 2px;
	}
	.location-list{
		margin-top: 35px;
	}

/*	.message-input .input.input-md{
	}
	.message-input input{
		color: #6d6d6d;
		padding: 6px 15px;
		border-radius: 25px;
		background-color: #e6e9ed;
		margin: 0;
	}

	.message-input ion-icon{
		position: absolute;
		right: 10%;
		font-size: 2.5rem;
		color: #6d6d6d;
	}*/

	.location-btn{
		background: color($colors, app_alt_bg, base);
    vertical-align: middle;
	}
}
