<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar>
    <ion-title>{{trader.first_name + " " + trader.last_name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-icon style="color: #fff;" name="menu" menuToggle class="menu-toggle-forced"></ion-icon>
<ion-content cpadding>

	<div class="thread">
		<div class="chat-message" [ngClass]="{'trader-message': message.senderKey !== profile.user.key}" *ngFor="let message of thread">
			<h5>{{message.text}}</h5>
		</div>
	</div>

	<div class="message-input message-input">
			<ion-input [(ngModel)]="message" placeholder="Type a message..." (keyup.enter)="send()">
			</ion-input>
			<button (click)="send()">Send</button>
	</div>
</ion-content>


<ion-nav #mycontent [root]="rootPage">
</ion-nav>

<ion-menu class="chat-menu" side="right" [content]="mycontent">
  <ion-content>
  	<ion-header>
  		<h5>Preferred Trading Locations</h5>
      <button ion-button class="location-btn" (click)="navToMap()">
        <ion-icon name="compass"></ion-icon>
      </button>
  	</ion-header>
  	<ion-list class="location-list">
  		<ion-item *ngFor="let tradeLocation of trader.trade_locations">
  			{{tradeLocation}}
  		</ion-item>
  	</ion-list>

 		<div class="trade-grid">
	 		<div class="trade-item" *ngFor="let item of trader.matchingTrades">
	 			<img-loader *ngIf="item.cover_url" class="fit-img" src="{{item.cover_url | replace: 'cover_big':'thumb'}}"></img-loader>
        <img *ngIf="!item.cover_url" class="fit-img" >
	 		</div>
 		</div>
 		
  </ion-content>
</ion-menu>