page-chat {
	.message-input{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 20px;
	}

	.message-input *{
		padding: 0;
	}

	.message-input ion-item.item.item-md{
		width: 90%;
		color: #fff;
	}

	.ps4-message-input .input.input-md{
		border: 1px solid #fff;
		color: #fff;
	}
	.ps4-message-input .text-input-md{
		color: #fff;
    margin: 8px 8px;
	}

	.ps4-message-input button{
		padding: 10px 20px;
		border: 0.5px solid #fff;
		background: rgba(48,73,158, 0.8);
		color: #fff;
    margin-left: 5px;
	}

	.thread{
		height: 86%;
		overflow: auto;
		overflow-x: hidden;
	}

	.chat-message h5{
		background: #b4d7ff;
		border-radius: 15px;
		padding: 20px 10px;
		max-width: 40%;
		margin-bottom: 10px;
		display: block;
		font-size: 1.5rem;
	}

/*	.message-input .input.input-md{
	}
	.message-input input{
		color: #6d6d6d;
		padding: 6px 15px;
		border-radius: 25px;
		background-color: #e6e9ed;
		margin: 0;
	}

	.message-input ion-icon{
		position: absolute;
		right: 10%;
		font-size: 2.5rem;
		color: #6d6d6d;
	}*/
}
