<ion-content class="ps4-bg" (click)="clearSearch()">

<div class="profile">
  <div class="profile-image">
    <img class="circle-head" src="{{auth.profile.profileImage}}">
  </div>
  <div class="profile-info-wrapper">
    <div class="profile-info">
        <h4>{{auth.profile.name}}</h4>
        <!-- <ion-icon name="create"></ion-icon> -->
      <!-- <h5>{{auth.profile.location}}</h5> -->
    </div>
  </div>
</div>

<hr inset padding-horizontal style="background-color: #fff;">

<div class="trade-info" >
  
  <div class="game-input-wrapper">
    <ion-item  inset >
      <ion-input (ionChange)="searchtTitle()" type="text" [(ngModel)]="searchInput" placeholder="Add a game"></ion-input>
    </ion-item>
    <h5 float-right class="tip-text">*tap games to toggle</h5>
    <div class="autocomplete">
      <ion-list>
        <ion-item class="autocomplete-item" *ngFor="let item of igdb.searchOptions" (click)="addGameToProfile(item)">
          <!-- <img *ngIf="item.cover != null" src="{{item.cover.url}}"> -->
          <h5>{{item.name}}</h5>
        </ion-item>
      </ion-list>
    </div>
  </div>
  
  <h5 class="divider" style="padding-top: 30px;">Looking for</h5>

  <div class="display-grid">
    <div class="trade-item" *ngFor="let item of auth.profile.wishList">
      <div class="trade-img" (click)="toggleItemOwnership(item, true)">
        <img class="fit-img" src="{{item.cover_url}}">
      </div>
      <div class="platforms">
        <img (click)="toggleItemPlatform(item, 'xbox1')" [ngClass]="{'faded': item.platforms.indexOf('xbox1') == -1}" src="assets/imgs/xbox_icon.png">
        <img (click)="toggleItemPlatform(item, 'ps4')" [ngClass]="{'faded': item.platforms.indexOf('ps4') == -1}" src="assets/imgs/ps4_icon.png">
        <img (click)="toggleItemPlatform(item, 'nintendo_switch')" [ngClass]="{'faded': item.platforms.indexOf('nintendo_switch') == -1}" src="assets/imgs/ns_icon.png">
      </div>
    </div>    
  </div>

  <h5 class="divider" >Owned</h5>
  
  <div class="display-grid">
    <div class="trade-item" *ngFor="let item of auth.profile.ownedList">
      <div class="trade-img" (click)="toggleItemOwnership(item, false)">
        <img class="fit-img" src="{{item.cover_url}}">
      </div>

      <div class="platforms">
        <img (click)="toggleItemPlatform(item, 'xbox1')" [ngClass]="{'faded': item.platforms.indexOf('xbox1') == -1}" src="assets/imgs/xbox_icon.png">
        <img (click)="toggleItemPlatform(item, 'ps4')" [ngClass]="{'faded': item.platforms.indexOf('ps4') == -1}" src="assets/imgs/ps4_icon.png">
        <img (click)="toggleItemPlatform(item, 'nintendo_switch')" [ngClass]="{'faded': item.platforms.indexOf('nintendo_switch') == -1}" src="assets/imgs/ns_icon.png">
      </div>
      
    </div>    
  </div>
</div>


</ion-content>

