<ion-content class="ps4">
<!-- <div style="height: 100%;" (click)="getNearestPossibleTrades()">
	
</div> -->
	<ion-spinner *ngIf="trade.loading" name="bubbles"></ion-spinner>

	<h4  style="padding: 5px 5px 0 16px;">Matches found</h4>
 	<ion-item class="matching-trades" *ngFor="let trader of trade.matchingTraders" no-lines>
 		<div class="info-row">
	 		<h5>{{trader.first_name + " " + trader.last_name}} is offering</h5>
 		</div>
 		<div class="trade-grid">
	 		<div class="trade-item" *ngFor="let item of trader.matchingTrades">
	 			<img-loader class="fit-img" src="{{item.cover_url | replace: 'cover_big':'thumb'}}"></img-loader>
	 		</div>
 		</div>
 		<div class="info-row">
	 		<h5>{{trader.first_name + " " + trader.last_name}} is interested in</h5>
 		</div>
 		<div class="trade-grid ">
	 		<div class="trade-item" *ngFor="let item of trader.matchingWishes">
	 			<img-loader class="fit-img" src="{{item.cover_url | replace: 'cover_big':'thumb'}}"></img-loader>
	 		</div>
 		</div>
 		<div class="info-row">
	 		<h5 class="info-matches">{{trader.matchingTrades.length}} matches</h5>
 			<h5>{{trader.distance | ceil}} miles away</h5>
 			<ion-icon style="color: #fff;" name="chatbubbles" (click)="showChat(trader)"></ion-icon>
 		</div>
 	</ion-item>
</ion-content>