page-trade {
	
	.more-btn{
    margin: 0 auto;
    display: block;
	}

	.chat-icon{
		background: color($colors, app_alt_bg, base);
		padding: 0 10px;
	}

	.trade-img-title{
		position: absolute;
		/*width: 100%;*/
		padding: 2px;
		bottom: 0;
		color: #fff;
    background: rgba(0, 0, 0, 0.5);
		font-size: 1rem;
	}

	.iunderstand{
		width: 100%;
		text-align: center;
		color: #fff;
		background: #8d959e;
		margin: 0;
		padding: 5px; 
	}

	.warning-msg{
		padding: 3px 5px;
		font-size: 1.1rem;
		line-height: 100%;
		background: color($colors, app_alt_bg, base);
		color: #fff;
	}

	.matching-trades{
		background: initial;
	}

	.trader-info{
		display: flex;
		justify-content: space-between;
		background: color($colors, ps4_dark_blue_2, base);
		padding: 2px 5px;
	}
	.info-row{
		display: flex;
		justify-content: space-between;
		background: color($colors, ps4_dark_blue_3, base);
		padding: 0px 0px 0px 5px;
		color: #fff;
	}


	.info-row h5{
		font-size: 1.2rem;
	}
	.trader-info h5:first-child{
		width: 38%;
		padding-right: 10px;
		text-align: left;
	}
	.info-matches{
		display: inline-block;
		width: 30%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		text-align: center;
		color: #fff;
	}
	.trade-grid{
		/*padding-top: 2px;*/
    height: 90px;
		background: rgba(0, 0, 0, 0.2);
		overflow-x: scroll;
		overflow-y: hidden;
	}

	.trade-grid::-webkit-scrollbar {
		display: none;
	}

	.trade-grid.white{
		background: rgba(160, 160, 160, 0.3);
	}

	div.trade-item{
		display: inline-block;
		width: 32%;
		height: 90px;
		max-width: 100px;
		padding-right: 1%;
		position: relative;
    overflow: hidden;
    white-space: normal;
	}

	ion-spinner{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 50px;
		height: 50px;
	}
	.status-msg{
		position: absolute;
		top: 40%;
		left: 0;
		right:  0;
		margin: auto;
		font-size: 2.5rem;
		text-align: center;
	}
	.trader-distance{
		font-size: 1.1rem;
	}

	.view-market-btn{
		float: right;
		margin-right: 16px;
		background: color($colors, app_alt_bg, base);
		z-index: 5;
	}

/*	ion-spinner *{
		width: 50px;
		height: 50px;
	}*/
}
