<ion-header >

  <ion-navbar>
    <ion-title *ngIf="canEdit">Pick preferred trade locations</ion-title>
    <ion-title *ngIf="!canEdit">{{target.first_name + " " + target.last_name}}'s preferred trade locations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <h5 class="status-msg">Loading Map</h5>
	<input id="autocomplete" class="display-none" type="text" [ngModel]="searchInput" (ionChange)="searchLocation" (click)="clearAutocomplete()">
  <div #map id="map" style="height: 100%;"></div>

  <div class="trade-locations-container">
  	<!-- <h5 class="trade-location-header">Trade Locations</h5> -->
     <h5 class="trade-location" *ngFor="let tradeLocation of target.trade_locations" (click)="findLocation(tradeLocation)">{{tradeLocation}}</h5>
  </div>

</ion-content>

