<ion-header >

  <ion-navbar>
    <ion-title *ngIf="canEdit">Pick preferred trade locations</ion-title>
    <ion-title *ngIf="!canEdit">{{target.first_name + " " + target.last_name}}'s preferred trade locations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
	<input id="autocomplete" class="display-none" type="text" [ngModel]="searchInput" (ionChange)="searchLocation">
  <div #map id="map" style="height: 100%;"></div>

  <ion-list class="trade-locations-container">
  	<h5 class="trade-location-header">Trade Locations</h5>
  	<ion-item class="trade-location" *ngFor="let tradeLocation of profile.user.trade_locations">
  		<h5>{{tradeLocation}}</h5>
  	</ion-item>
  </ion-list>

</ion-content>

