page-map {
	ion-content .scroll-content{
		padding: 0;
	}

	#autocomplete{
    width: 300px;
    height: 30px;
    margin: 30px auto 0 auto;
    left: 0;
    right: 0;
    padding: 0 5px;
	}

	#map #autocomplete{
		display: initial;
	}

	.trade-locations-container{
		position: fixed;
		z-index: 120;
		width: 70%;
		max-width: 400px;
		left: 0;
		bottom: 0;
		padding: 15px 0;

	}

	.trade-location, .trade-location-header{
		background: rgba(0, 0, 0, 0.6);
		color: #fff;
		margin: 0;
	}
	.trade-location-header{
		padding-left: 10px;
		padding-top: 10px;
	}
}
