<ion-content padding>
<!-- 	<div class="row-1 shop-row">
		<div class="device-container">
			<div class="device">
				<img class="fit-img" src="assets/imgs/ps4_device.png">
			</div>
			<div class="device">
				<img class="fit-img" src="assets/imgs/xbox1_device.png">
			</div>
			<div class="device">
				<img class="fit-img" src="assets/imgs/ns_device.png">
			</div>
		</div>
		<div class="prices">
			<h5>&#x20B1;1000 / month</h5>
			<h5>&#x20B1;600 / 2weeks</h5>
		</div>
	</div> -->

	<div class="row-2 shop-row">
		<div class="games">
			<img class="game" src="{{game.cover_url}}" *ngFor="let game of gamesForRent" (click)="addGameToCart(game)">
		</div>

		<div class="prices">
			<h5>&#x20B1;{{priceMonth}} / month</h5>
			<h5>&#x20B1;{{priceWeeks}} / 2weeks</h5>
		</div>

	</div>

	<div class="row-3 shop-row">
		<div class="cart">
			<div class="games">
				<img class="game" src="{{game.cover_url}}" *ngFor="let game of cart.games" (click)="removeGameFromCart(game)">
			</div>
		</div>
	</div>

		<button class="order-btn" ion-button (click)="order()">Order</button>
	
</ion-content>
