page-messages {

	div.trade-item{
		/*display: inline-block;*/
		/*max-width: 100px;*/
	}

	.trader-img-container{
		width: 60px;
		height: 60px;
		margin-right: 10px;
		display: inline-block;
	}

	.trader-img-container img{
		background-image: url('../assets/imgs/default_cover.png');
		background-size: cover;
	}


	.trader-info{
		display: inline-block;
		justify-content: space-between;
		align-items: center;
		padding: 2px 5px;
	}

	.trader-name{
		color: #fff;
		font-size: 1.5rem;
	}

	.trade-item img{
		margin-right: 2px;
	}

	.trade-item h5{
		color: #fff;
	}
	ion-item.item{
		margin-top: 15px;
		background: initial;
		padding: 0 0 0 5px;
	}

	.message-container{
		background: color($colors, app_main_bg, base);;
		display: flex;
		align-items: center;
		border: 1px solid #fff;
	}

	.matches{
		padding: 5px;
	}

	ion-label.label-md{
		margin: 0;
	}
}
